{% htmlcompress %}
<html>

<head>
    {% include "theme::partials/metadata" %}
    <script src="https://pingendo.com/assets/scripts/navbar-cover.js"></script>
</head>

<body class="text-center">
{% include "theme::partials/navigation" %}

<div class="py-5 section">
  <div class="container">
    <div class="row w-75 mx-auto">
      <div class="col-md-12">
        
        {% block content %}{% endblock %}
        	{% if (request_path() == '/news') %}
          <hr> {% include "theme::partials/posts" %}
        {% endif %}

      </div>
    </div>
  </div>
</div>

{% include "theme::partials/footer" %}
{% include "theme::partials/assets" %}

</body>
</html>
{% endhtmlcompress %}
