{% htmlcompress %}
<html>

<head>
    {% include "theme::partials/metadata" %}
    <script src="https://pingendo.com/assets/scripts/navbar-cover.js"></script>
</head>

<body class="text-center">
{% include "theme::partials/navigation" %}
{% include "theme::partials/jumbotron" %}
{% include "theme::partials/landmenu" %}
{% include "theme::partials/body" %}
{% include "theme::partials/footer" %}
{% include "theme::partials/assets" %}

</body>
</html>
{% endhtmlcompress %}
