{# <div class="py-5 section" id="about">
  <div class="container">
    <div class="row w-75 mx-auto">
      <div class="col-md-12">
        <h1 class="mb-4">About the event</h1>
        <p class="lead">Three days immersion in the world of UX/UI prototyping. Meet the most important design influencer of the moment, assist to speeches given by worldwide known designers and much, much more.
          <br>The unique possibility to enhance your professionality with the smallest effort.</p>
        <a class="btn btn-outline-info m-3" href="schedule.html">Schedule</a>
        <a class="btn btn-info m-3" href="#register">Register</a>
      </div>
    </div>
  </div>
</div> #}

{# <div class="py-5" id="schedule">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="mb-4">Schedule</h1>
      </div>
    </div>
    <div class="row text-left">
      <div class="col-md-4">
        <div class="card my-1 card-primary">
          <div class="card-block text-center card-primary">
            <h2>Day 1</h2>
            <p class="lead">Prototype</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o"></i>&nbsp;09:30-10:00 –&nbsp;<b>Welcome</b></li>
            <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o"></i>&nbsp;10:00-12:00 –&nbsp;<b>Bootstrap for UX</b></li>
            <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o"></i>&nbsp;12:00-13:00 –&nbsp;<b>Q&amp;A</b></li>
            <li class="list-group-item list-group-item-info bg-faded"><i class="mx-auto fa d-inline fa-clock-o"></i>&nbsp;13:00-14:30 –&nbsp;<b>Lunch break</b></li>
            <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o"></i>&nbsp;14:30-16:00 –&nbsp;<b>Best practices</b></li>
            <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o"></i>&nbsp;16:00-18:00 –&nbsp;<b>Editing workshop</b></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card my-1 card-primary">
          <div class="card-block text-center card-primary">
            <h2>Day 2</h2>
            <p class="lead">Design</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o"></i>&nbsp;09:30-10:00 –&nbsp;<b>Guest speech</b></li>
            <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o"></i>&nbsp;10:00-12:00 –&nbsp;<b>Designing for mobiles</b></li>
            <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o"></i>&nbsp;12:00-13:00 –&nbsp;<b>UI trends</b></li>
            <li class="list-group-item list-group-item-info bg-faded"><i class="mx-auto fa d-inline fa-clock-o"></i>&nbsp;13:00-14:30 –&nbsp;<b>Lunch break</b></li>
            <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o"></i>&nbsp;14:30-16:00 –&nbsp;<b>Discussion</b></li>
            <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o"></i>&nbsp;16:00-18:00 –&nbsp;<b>Party!</b></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card my-1 card-primary">
          <div class="card-block text-center">
            <h2>Day 3</h2>
            <p class="lead">Publish</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o"></i>&nbsp;09:30-10:00 –&nbsp;<b>Introduction to WBN</b></li>
            <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o"></i>&nbsp;10:00-12:00 –&nbsp;<b>Tools for publishing</b></li>
            <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o"></i>&nbsp;12:00-13:00 –&nbsp;<b>Implementation</b></li>
            <li class="list-group-item bg-faded"><i class="mx-auto fa d-inline fa-clock-o"></i>&nbsp;13:00-14:30 –&nbsp;<b>Lunch break</b></li>
            <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o"></i>&nbsp;14:30-16:00 –&nbsp;<b>Farewell</b></li>
            <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o"></i>&nbsp;16:00-18:00 –&nbsp;<b>Party!</b></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a href="schedule.html" class="btn btn-outline-primary my-4">Go to schedule</a>
      </div>
    </div>
  </div>
</div> #}
<div class="py-5 section bg-faded" id="sponsors">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-gray-dark mb-4">Брэнды</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img class="center-block img-fluid d-block mx-auto" src="https://pingendo.github.io/templates/events/logo_1.png"> </div>
      <div class="col-md-3">
        <img class="center-block img-fluid d-block mx-auto" src="https://pingendo.github.io/templates/events/logo_4.png"> </div>
      <div class="col-md-3">
        <img class="center-block img-fluid d-block mx-auto" src="https://pingendo.github.io/templates/events/logo_3.png"> </div>
      <div class="col-md-3">
        <img class="center-block img-fluid d-block mx-auto" src="https://pingendo.github.io/templates/events/logo_2.png"> </div>
    </div>
  </div>
</div>
<div class="py-5 section bg-primary" id="register">
  <div class="container">
    <div class="row w-75 mx-auto">
      <div class="col-md-12">
        <h1 class="text-white mb-4">Registrations are open</h1>
        <p class="mb-4">Pre-register to get a priority access to the event. Fares will be published later on.&nbsp;
          <br>Get the maximum from the lectures together with the possibility of joining exclusive side-events.
          <br>Join the Pingendo community</p>
        <a class="btn btn-lg btn-info" href="#cover">Register now</a>
      </div>
    </div>
  </div>
</div>
<div class="section bg-inverse" style="background-image: url(&quot;https://pingendo.github.io/templates/events/venue.jpg&quot;);">
  <div class="container-fluid ">
    <div class="row" id="venue">
      <div class="align-self-center col-lg-6 col-md-12">
        <h1 class="my-3">The venue</h1>
        <p class="lead">Empire State building
          <br>350 5th Ave, Conference hall
          <br>New York, NY 10118</p>
      </div>
      <div class="p-0 col-lg-6 col-md-12">
        <img class="img-fluid already-visible" src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyDW8nO9JhT_pEjebobq9pgUF2cEp0EUb1I&amp;center=empire+state+building&amp;zoom=15&amp;size=640x400&amp;sensor=false&amp;scale=2"> </div>
    </div>
  </div>
</div>