<div class="d-flex ext-left h-15 bg-opaque mask mask-faded-out">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        {# <h3 class="display-2">{{ page.text_field }}</h3> #}
        {# <h5>December 12-14, NYC</h5> #}
        {# <a href="#register" class="btn btn-lg btn-info mt-4">Register</a> #}
      </div>
    </div>
  </div>
</div>
